/* The base stylesheet for the site, should be included in every page. */

/* ----- Viewport ----- */

html, body {
	margin: 0;
	height: 100%;
}


/* ----- Navigation Bar ----- */

#navbar {
	width: 100%;
	height: 4em;
	color: white;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
	background: #339999;
}

#inner_nav {
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

.navitem {
	padding: 0.72em 0;
	float: left;
	font-size: 1.5em;
	width: 25%;
	cursor: pointer;
	text-align: center;
	display: none;
}

.navitem:hover {
	background: white;
	color: #339999;
}

#navbar a {
	color: inherit;
	text-decoration: none;
}

#menu_wrapper {
	height: 100%;
	float: left;
}

#menu_drop {
	padding: 0.5em;
	box-sizing: border-box;
	height: 100%;
	cursor: pointer;
}

#menu_wrapper:hover {
	background: white;
}

#menu_content {
	visibility: hidden;
	background: white;
	border: solid 1px #339999;
	width: 94%;
	margin: 0 3%;
	z-index: 5;
	position: absolute;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
	color: #339999;
}

.mobile_navitem {
	border-bottom: solid 1px #339999;
	height: 25%;
	width: 100%;
	float: left;
	padding: 0.5em 0;
	font-size: 1.5em;
	text-align: center;
}

#menu_content a {
	color: inherit;
	text-decoration: none;
}

#background {
	visibility: hidden;
	background: gray;
	position: absolute;
	opacity: 0.3;
	height: 100%;
	width: 100%;
}

/* ----- Page Content ----- */

#content {
	width: 90%;
	margin: 0 auto;
	padding-top: 1em;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
	background: white;
}

p {
	color: #555555;
}


/* ----- Media Queries ----- */

/* Desktop viewers. */
@media (min-width: 1067px) {

	#content {
		width: 960px;
	}

	#inner_nav {
		width: 960px;
	}

}

/* Hides mobile content for larger screens */
@media (min-width: 650px) {

	#menu_wrapper {
		display: none;
	}

	.navitem {
		display: initial;
	}

}
