/* The stylesheet to accompany the batch commands page. */

/* ----- Command List ----- */

#command_list {
	width: 45%;
	margin: 0 2%;
	float: left;
	background: #339999;
}

#commands {
	padding: 0.5em;
	padding-bottom: 5em;	/* Always space to add new list item at bottom. Otherwise awkward. */
	color: white;
	border: 4px solid #106060;
	min-height: 50%;
}

.list_item {
	padding: 9px;
	background: #106060;
	border-radius: 14px;
	box-shadow: 4px 4px 3px #208080;
	margin: 8px;
	font-family: Courier, monospace;
	height: 18px;
	vertical-align: middle;
	min-width: 150px;
}

.handle {
    cursor: move;
    cursor: -webkit-grabbing;
	float: left;
}

.display_cmd {
	float: left;
	text-indent: 20px;
}

.delete_button {
	float: right;
	border: 2px solid white;
	background: #106060;
	text-align: center;
	border-radius: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 80%;
	display: none;
}

.delete_button:hover {
	color: #106060;
	background: white;
	cursor: pointer;
}


.hidden_cmd, .hidden_amount {
	display: none;
}		/* Hidden attributes. Used only when scanning into array. */


/* ----- Controls ----- */

#control_box {
/*	position: fixed;*/
/*	left: 50%;*/
	width: 45%;
	height: 25em;
	float: left;
}

#controls_inner, #status_inner, #new_div_space_inner {
	background: #339999;
	border: 4px solid #106060;
	color: white;
}

#status_inner, #new_div_space_inner {
	padding: 1em;
}

#control_tabs {
	background: #106060;
	height: 2em;
}

.tab_active, .tab_inactive {
	text-align: center;
	padding-top: 0.4em;
	height: 100%;
}

.tab_active {
	background: #339999;
}

.tab_inactive {
	background: #106060;
}

.tab_inactive:hover {
	background: #208080;
	cursor: pointer;
}

/* loops_tab excluded and will auto-fill remaining area.
	Patches gap seen in most browsers. IE still makes a
	tiny gap but God only knows why.*/
#functions_tab, #constants_tab {
	float: left;
	width: 33.3%;
}

.control_type {
	height: 20em;
}


/* ----- Control Functions ----- */

#control_functions {
	display: initial;
}

.dir_button {
	padding: 0.5em;
	border: 2px solid white;
	background: #663399;
	width: 30%;
	min-width: 5em;
	text-align: center;
	color: white;
	margin: 1em auto;
}

.dir_button:hover {
	border-color: #663399;
	color: #663399;
	background: white;
	cursor: pointer;
}

#time_select {
	padding: 0.5em;
	width: 30%;
	margin: 0 auto;
}

#time {
	width: 100%;
	border: 2px solid #663399;
}


/* ----- Control Constants ----- */

#control_constants {
	display: none;
}

#control_constants p {
	padding: 1em;
}


/* ----- Control Loops ----- */

#control_loops {
	display: none;
}

#control_loops p {
	padding: 1em;
}


/* ----- Run ----- */

#run {
	padding: 1em;
	border: 4px solid #106060;
	background: #339999;
}

#run_button {
	padding: 0.5em;
	border: 2px solid white;
	background: #990000;
	text-align: center;
	color: white;
	margin: 0 auto;
}

#run_button:hover {
	border-color: #990000;
	color: #990000;
	background: white;
	cursor: pointer;
}
