/* The stylesheet to accompany the batch commands page. */

/* ----- Command List ----- */

#command_list {
	width: 45%;
	margin: 0 2%;
	float: left;
	background: #339999;
}

#commands {
	padding: 0.5em;
	padding-bottom: 5em;	/* Always space to add new list item at bottom. Otherwise awkward. */
	color: white;
	border: 4px solid #106060;
	min-height: 50%;
}

.list_item{
	padding: 9px 0 9px 0;
	background: #106060;
   border: 4px solid #106060;
	border-radius: 14px;
	box-shadow: 4px 4px 3px #208080;
	margin: 14px 8px 8px 8px;
	font-family: Courier, monospace;
	min-height: 18px;
	vertical-align: middle;
	min-width: 150px;
}

.handle {
   cursor: move;
   cursor: -webkit-grabbing;
	float: left;
}

.display_cmd, .loop_end_active  {
	text-indent: 20px;
}

.delete_button {
	float: right;
	text-align: center;
	border-radius: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 80%;
	display: none;
}

.delete_button:hover {
	color: #106060;
	background: white;
	cursor: pointer;
}

.hidden_cmd, .hidden_amount {
	display: none;
}		/* Hidden attributes. Used only when scanning into array. */

.loop_contents_active {
	padding-bottom: 1.5em;
   padding-top: 1em;
	background: #339999;
}

.loop_contents_inactive {
   display: none;
}

.loop_end_inactive {
   display: none;
}


/* ----- Controls ----- */

#control_box {
/*	position: fixed;*/
/*	left: 50%;*/
	width: 45%;
	height: 25em;
	float: left;
}

#controls_inner, #status_inner, #new_div_space_inner {
	background: #339999;
	border: 4px solid #106060;
	color: white;
}

#status_inner, #new_div_space_inner {
	padding: 1em;
}

#new_div_space_inner {
   height: auto;
}

#control_tabs {
	background: #106060;
	height: 2em;
}

.tab_active, .tab_inactive {
	text-align: center;
	padding-top: 0.4em;
	height: 100%;
   border-radius: 10px 10px 0 0;
}

.tab_active {
	background: #339999;
}

.tab_inactive {
	background: #106060;
}

.tab_inactive:hover {
	background: #208080;
	cursor: pointer;
}

#functions_tab, #constants_tab {
	float: left;
	width: 33.3%;
}

/* Fills remaining area with no overflow. Otherwise fills left
   in a way that is visible with border-radius property. */
#loops_tab {
   overflow: hidden;
}

.control_active {
	height: 17em;
}

.control_inactive {
   display: none;
}


/* ----- Control Functions, Loops ----- */


.button_inactive {
	padding: 0.5em;
	border: 2px solid white;
	background: #663399;
	width: 20%;
	min-width: 5em;
	text-align: center;
	color: white;
	margin: 1em auto;
}

.button_inactive:hover {
	color: #663399;
	background: white;
	cursor: pointer;
}

.button_active {
	padding: 0.5em;
	border: 2px solid #663399;
	color: #663399;
	width: 20%;
	min-width: 5em;
	background: white;
	cursor: pointer;
	margin: 1em auto;
	text-align: center;
}

#left_button {
   float: left;
   margin-left: 1em;
   margin-top: 11%;
}

#right_button {
   float: right;
   margin-right: 1em;
   margin-top: 11%;
}


#time, #loop_number {
	border: 2px solid #663399;
   width: 25%;
   float: left;
   margin-left: 25%;
   text-indent: 1em;
}
   
   
#time_select p, #loop_number_select p {
   text-indent: 5%;
}

.submit_button {
   float: left;
   margin-left: 40%;
   width: 20%;
}

.button_position_ctrl {
   height: 10%;
}

.number_input_active {
   display: visible;
}

.number_input_inactive {
   display: none;
}
   
   


/* ----- Control Constants ----- */


#control_constants p {
	padding: 1em;
}



/* ----- Run ----- */

#run {
	padding: 1em;
	border: 4px solid #106060;
	background: #339999;
}

#run_button {
	padding: 0.5em;
	border: 2px solid white;
	background: #990000;
	text-align: center;
	color: white;
	margin: 0 auto;
}

#run_button:hover {
	border-color: #990000;
	color: #990000;
	background: white;
	cursor: pointer;
}
