/* The stylesheet to accompany the live commands page.  */

#pinstatus {
	padding: 1em;
	color: #339999;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}

.ctrlbutton {
	padding: 20px 20px;
	color: #339999;
	border: 1px solid #339999;
	border-radius: 10px;
	background: #ffffff;
}

.ctrlbutton:hover {
	color: #ffffff;
	background: #339999;
}

.ctrlbutton:active {
	background: #ff8833;
}

#ctrlbuttons {
	padding: 1em;
}

#argselection {
	padding: 1em;
}

