#navbar {
	padding: 0.8em;
	color: white;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
	background: #5CB8E6;
	margin: -0.5em -0.5em 0;
}

#inner_nav {
	width: 80%;
	margin: 0 auto;
	height: 1em;
	text-align: center;
}

.navitem {
	margin-top: -0.2em;
	float: left;
	font-size: 16pt;
	width: 25%;
	cursor: pointer;
}

.navitem:hover {
	background: white;
	color: #5CB8E6;
}

#content {
	width: 90%;
	padding-top: 1em;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
	background: white;
}

#command_list {
	width: 50%;
	min-height: 50%;
	float: left;
	border: 4px solid #106060;
	background: #339999;
}

#commands {
	padding: 0.5em;
	color: white;
	font-family: Courier, monospace;
}

#control_box, #status, #display_array {
	position: fixed;
	width: 49%;
	height: 130%;
	right: 2%;
	z-index: 2;
}

#control_box {
	top: 10%;
}

#status {
	top: 50%;
}

.control_type [type=radio] {
	display: none;
}

.control_type label {
	background: #106060;
	color: white;
	text-align: center;
	border: 4px solid #106060;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

.control_type label:hover {
	background: #227777;
}

#control_functions label {
	width: 33%;
}

#control_loops label {
	width: 33%;
}

#control_constants label {
	width: 34%;
}

[type=radio]:checked ~ label {
	background: #339999;
	border-bottom: 4px solid #339999;
}

[type=radio]:not(:checked) ~ label ~ .content {
	z-index: -1;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 3;
}

#functions_set, #loops_set, #constants_set {
	position: fixed;
	top: 18%;
	width: 40%;
	right: 6.5%;
}

.dir_button {
	padding: 0.5em;
	border: 2px solid white;
	background: #663399;
	width: 20%;
	text-align: center;
	color: white;
	margin: 0 auto;
}

.dir_button:hover {
	border-color: #663399;
	color: #663399;
	background: white;
	cursor: pointer;
}

#left_button {
	float: left;
}

#right_button {
	float: right;
}

#time_select {
	padding: 0.5em;
	width: 20%;
	margin: 0 auto;
}

#time {
	width: 100%;
	border: 2px solid #663399;
}

#controls_inner, #status_inner, #array_inner {
	margin: 0 1em;
	background: #339999;
	height: 25%;
	border: 4px solid #106060;
}

#run {
	padding: 0.5em;
	border: 2px solid white;
	background: #990000;
	width: 20%;
	text-align: center;
	color: white;
	margin: 0 auto;
}

#run:hover {
	border-color: #990000;
	color: #990000;
	background: white;
	cursor: pointer;
}

#status_inner {
	margin: 1em 1em;
	color: white;
}

#array_inner {
	margin: 1em 1em;
	color: white;
}
