#headline {
	padding: 0.8em;
	color: white;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
	text-align: center;
	background: #5CB8E6;
}

#pinstatus {
	padding: 1em;
	color: #5CB8E6;
	font-family: HelveticaNeue, Verdana, Arial, sans-serif;
}

#fwdbutton, #leftbutton, #rightbutton {
	padding: 20px 20px;
	color: #5CB8E6;
	border: 1px solid #5CB8E6;
	border-radius: 10px;
	background: #ffffff;
}

#fwdbutton:hover, #leftbutton:hover, #rightbutton:hover {
	color: #ffffff;
	background: #5CB8E6;
}

#fwdbutton:active, #leftbutton:active, #rightbutton:active {
	background: #ff8833;
}

#ctrlbuttons {
	padding: 1em;
}

#argselection {
	padding: 1em;
}

